<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:include="common/macro-head :: macro-head"></head>
    <body>
        <div th:replace="common/header :: header"></div>
        <div class="wrapper">
            <div class="main-wrap">
                <main class="other">
                    <div class="title">
                        <h2><i class="icon-tags"></i>
                            &nbsp; [[#{sumLabel}]] [[${#lists.size(session.tags)}]] [[#{tagLabel}]]
                        </h2>
                    </div>
                    <div class="tags" th:each="tag:${session.tags}">
                        <a rel="tag" th:data-count="${tag.tagPublishedRefCount}" class="tag"
                           th:href="@{${session.servePath}+'/tags/'+${tag.tagTitle}}">
                            <span>[[${tag.tagTitle}]]</span>
                            (<b>[[${tag.tagPublishedRefCount}]]</b>)
                        </a>
                    </div>
                </main>
                <div th:replace="common/side :: side"></div>
            </div>
        </div>
        <div th:include="common/footer :: footer"></div>
        <script type="text/javascript" charset="utf-8"
                th:src="@{${#httpServletRequest.getContextPath()}+'/'+${session.skinDirName}+'/js/isotope.pkgd.min.js'}">
        </script>
        <script>
            $('.tags').isotope({
                transitionDuration: '1.5s',
                filter: 'a',
                layoutMode: 'fitRows'
            });
            $('.tags').isotope({
                sortBy: 'random'
            });
        </script>
    </body>
</html>
