<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="article-list">
    <article class="post" th:each="article : ${session.articles}">
        <header>
            <h1>
                <a rel="bookmark" th:href="@{${session.servePath}+${article.articlePermalink}}" th:text="${article.articleTitle}"></a>
                <sup th:if="${article.articlePutTop}" th:text="#{topArticleLabel}"></sup>
                <sup th:if="${article.hasUpdated}" th:text="#{updatedLabel}"></sup>
            </h1>

            <div class="meta">
                <span class="tooltipped tooltipped-n" th:aria-label="#{createDateLabel}">
                    <i class="icon-date"></i>
                    <time th:text="${#dates.format(article.articleCreateDate,'yyyy-MM-dd')}"></time>
                </span>
                &nbsp; | &nbsp;
                <span class="tooltipped tooltipped-n" th:aria-label="#{commentCountLabel}">
                    <i class="icon-comments"></i>
                    <a th:href="@{${session.servePath}+${article.articlePermalink}+'#comments'}">
                        <span th:text="${article.articleCommentCount}"></span>
                        <span th:text="#{commentLabel}"></span></a>
                </span>&nbsp; | &nbsp;
                <span class="tooltipped tooltipped-n" th:aria-label="#{viewCount1Label}">
                    <i class="icon-views"></i>
                    <span th:text="${article.articleViewCount}"></span>
                    <span th:text="#{viewLabel}"></span>
                </span>
            </div>
        </header>
        <div class="content-reset" th:utext="${article.articleAbstract}"></div>
        <footer th:each="articleTag : ${#strings.setSplit(article.articleTags,',')}" class="fn-clear tags">
            <a class="tag" rel="tag" th:text="${articleTag}" th:href="@{${session.servePath}+'/tags/'+${articleTag}}"></a>
            <a th:href="@{${session.servePath}+${article.articlePermalink}+'#more'}"
               th:text="#{readmoreLabel}" rel="contents" class="fn-right"></a>
        </footer>
    </article>


    <div th:if="${session.paginationPageCount}" class="fn-clear">
        <nav th:each="paginationPageNum,paginationPageNumStat:${session.paginationPageNums}" class="pagination fn-right">
            <a th:if="${paginationPageNumStat.first}==1" th:href="@{${session.servePath}+${path}+'/'+${paginationPreviousPageNum}}" class="page-number">&laquo;</a>
            <a th:if="${paginationPageNumStat.first}==1" class="page-number" th:href="@{${session.servePath}+${path}+'/1'}">1</a> <span class="page-number">...</span>

            <span th:if="${paginationCurrentPageNum}==paginationPageNumStat.index+1"
                  class="page-number current"  th:text="${paginationPageNum}"></span>
            <a th:if="${paginationCurrentPageNum}!=paginationPageNumStat.index+1" class="page-number"
               th:href="@{${session.servePath}+${path}+'/'+${paginationPageNum}}" th:text="${paginationPageNum}"></a>

            <span th:if="${paginationPageNumStat.last}!=paginationPageCount" class="page-number">...
                <a th:href="@{${session.servePath}+${path}+'/'+${session.paginationPageCount}}"
                   class="page-number" th:text="${session.paginationPageCount}"></a>
                <a th:href="@{${session.servePath}+${path}+'/'+${session.paginationNextPageNum}}" class="page-number">&raquo;</a>
            </span>
        </nav>
    </div>
</div>