<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<aside th:fragment="side">
    <section>
        <div th:if="${#strings.isEmpty(noticeBoard)}" th:utext="${session.noticeBoard}" class="ad content-reset"></div>

        <div th:if="${not #lists.isEmpty(session.mostUsedTags)}" class="module">
            <header><h2 th:text="#{tagsLabel}"></h2></header>
            <main th:each="tag : ${session.mostUsedTags}">
                <a rel="tag" th:href="@{${session.servePath}+'/tags/'+${tag.tagTitle}}"
                   class="tag tooltipped tooltipped-n"
                   th:aria-label="${tag.tagPublishedRefCount}+' '+#{countLabel}+' '+#{articleLabel}"
                   th:text="${tag.tagTitle}">
                </a>
            </main>
        </div>

        <div class="module meta">
            <header>
                <h2 th:text="${session.userName}"></h2>
            </header>
            <main class="fn-clear">
                <img th:src="${session.adminUser.userAvatar}" th:aria-label="${session.userName}"/>
                <div class="fn-right">
                    <a th:href="@{${session.servePath}+'/archives.html'}">
                        [[${session.statisticPublishedBlogArticleCount}]] [[#{articleLabel}]]
                    </a><br/>
                    <a th:href="@{${session.servePath}+'/dynamic.html'}">
                        [[${session.statisticPublishedBlogCommentCount}]] [[#{commentLabel}]]
                    </a><br/>
                        [[${session.statisticBlogViewCount}]] [[#{viewLabel}]]<br/>
                        [[${session.onlineVisitorCount}]] [[#{onlineVisitorLabel}]]
                </div>
            </main>
        </div>

        <div th:if="${not #lists.isEmpty(session.mostCommentArticles)}" class="module">
            <header><h2>[[#{mostCommentArticlesLabel}]]</h2></header>
            <main class="list">
                <ul th:each="article : ${session.mostCommentArticles}">
                    <li>
                        <a rel="nofollow"
                           th:aria-label="${article.articleCommentCount}+' '+#{commentLabel}"
                           class="tooltipped tooltipped-e"
                           th:href="@{${session.servePath}+${article.articlePermalink}}"
                           th:text="${article.articleTitle}">
                        </a>
                    </li>
                </ul>
            </main>
        </div>

        <div th:if="${not #lists.isEmpty(session.mostViewCountArticles)}" class="module">
            <header><h2>[[#{mostViewCountArticlesLabel}]]</h2></header>
            <main class="list">
                <ul th:each="article : ${session.mostViewCountArticles}">
                    <li>
                        <a rel="nofollow"
                           th:aria-label="${article.articleCommentCount}+' '+#{commentLabel}"
                           class="tooltipped tooltipped-e"
                           th:href="@{${session.servePath}+${article.articlePermalink}}"
                           th:text="${article.articleTitle}">
                        </a>
                    </li>
                </ul>
            </main>
        </div>
    </section>
</aside>
</html>